body {
    background-color: dimgrey;
    color: white;
}

label
{
    font-weight: bold;
}

input[type=text], input[type=tel] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea
{
    width: 50%;
    padding: 36px 29px;
    box-sizing: border-box;
}

input[type=submit]
{
    padding: 16px 14px;
    background-color: #FDC901;
    color: black;
    border: none;
    border-radius: 15%;
}